build
build/*
*.pyc
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
Makefile
config.log
config.status
autom4te.cache
autom4te.cache/*
conanbuildinfo.txt
conaninfo.txt
libpng.pc
libpng16.pc
src/.deps/
src/main_c-main.o
zlib.pc

